@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: #585858;
  border-radius: 8px;
}

/* Scrollbar Thumb on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #e7e7e7;
}

/* Optional: Track background */
::-webkit-scrollbar-track {
  background: transparent;
}